## -- ORG
*.aux
*.doc
*.docx
*.docx#
*.log
*.out
*.pdf
*.tex
*.toc
docs/wireframes/wireframes.html

## -- EMACS
.cpcache/
.nrepl-port

## -- DOCKER
.minio.sys
spread-dev-uploads/

## -- JAVA
target/
.settings/
.classpath
.project
.factorypath
*.jar

## -- TEST / DEV
test.json
spread_data_simple_example.json
*.tar.gz
resources/secrets.edn

## -- CLJ-KONDO
.clj-kondo/.cache/

## -- SERVERLESS
.serverless/

## -- CLJS
.shadow-cljs/
node_modules/
resources/public/js/