{:paths
 ["src/clj" "src/cljc" "resources/"]

 :deps
 {;; CORE
  org.clojure/clojure    {:mvn/version "1.10.3"}
  org.clojure/core.async {:mvn/version "1.3.610"}
  org.clojure/core.match {:mvn/version "1.0.0"}

  ;; HTTP / NETWORKING
  com.cognitect/transit-clj        {:mvn/version "1.0.324"}
  com.walmartlabs/lacinia-pedestal {:mvn/version "0.15.0"}
  clj-http/clj-http                {:mvn/version "3.12.1"}

  ;; AUTH / JWT
  buddy/buddy-sign                {:mvn/version "3.3.0"}
  org.bouncycastle/bcpkix-jdk15on {:mvn/version "1.68"}

  ;; LOGGING
  com.taoensso/timbre {:mvn/version "5.1.2"}
  viesti/timbre-json-appender {:mvn/version "0.2.5"}

  ;; DB
  seancorfield/next.jdbc                 {:mvn/version "1.1.588"}
  com.layerware/hugsql-core              {:mvn/version "0.5.1"}
  com.layerware/hugsql-adapter-next-jdbc {:mvn/version "0.5.1"}
  mysql/mysql-connector-java             {:mvn/version "8.0.21"}

  ;; AWS
  com.cognitect.aws/api       {:mvn/version "0.8.484"}
  com.cognitect.aws/endpoints {:mvn/version "1.1.11.906"}
  com.cognitect.aws/s3        {:mvn/version "809.2.797.0"}
  com.cognitect.aws/sqs       {:mvn/version "809.2.784.0"}
  software.amazon.awssdk/s3   {:mvn/version "2.15.35"}
  software.amazon.awssdk/auth {:mvn/version "2.15.35"}

  ;; PARSERS
  jebl/jebl             {:mvn/version "2.0"}
  libspread/libspread   {:local/root "./target/libspread-1.0.0-SNAPSHOT.jar"}
  org.clojure/data.json {:mvn/version "2.0.1"}

  ;; UTILS
  mount/mount           {:mvn/version "0.1.16"}
  tick/tick             {:mvn/version "0.4.9-alpha"}

  ;; SPEC
  org.clojure/spec.alpha     {:mvn/version "0.2.194"}
  org.clojure/test.check     {:mvn/version "1.1.0"}
  com.gfredericks/test.chuck {:mvn/version "0.2.10"}
  }

 :mvn/repos
 {"central" {:url "https://repo1.maven.org/maven2/"}
  "clojars" {:url "https://repo.clojars.org/"}
  "jebl2"   {:url           "http://www.stat.ubc.ca/~bouchard/maven/"
             :snapshots     false
             :sign-releases false
             :checksum      :fail
             :update        :never}}
 :aliases
 {:test
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.0.732"}
                clj-http/clj-http   {:mvn/version "3.12.1"}}}

  :run-api
  {:main-opts ["-m" "api.main"]}

  :run-worker
  {:main-opts ["-m" "worker.main"]}

  :uberjar
  {:extra-deps {seancorfield/depstar {:mvn/version "RELEASE"}}
   :main-opts  ["-m" "hf.depstar.uberjar"]}

  :lint
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2021.09.25"}}
   :main-opts  ["-m" "clj-kondo.main" "--lint" "src/clj"]}

  :repl
  {:extra-deps {refactor-nrepl/refactor-nrepl {:mvn/version "2.5.0"}}}

  :graph
  {:extra-deps {org.clojure/tools.deps.graph {:mvn/version "1.0.56"}}
   :main-opts  ["-m" "clojure.tools.deps.graph"]}

  :outdated
  {:extra-deps {olical/depot {:mvn/version "2.1.0"}}
   :main-opts  ["-m" "depot.outdated.main" "-a" "outdated"]}

  :dbg {:extra-deps {com.github.jpmonettas/flow-storm-dbg {:mvn/version "2.0.0"}
                     com.github.jpmonettas/flow-storm-inst {:mvn/version "2.0.0"}}}
  }}
