;; shadow-cljs configuration
{:source-paths
 ["src/cljs" "src/cljc"]

 :dependencies
 [[akiroz.re-frame/storage "0.1.4"]
  [camel-snake-kebab "0.4.1"]
  [cider/cider-nrepl "0.25.5"]
  [cider/piggieback "0.5.2"]
  [tick/tick "0.4.9-alpha"]
  [com.taoensso/timbre "5.1.2"]
  [day8.re-frame/async-flow-fx "0.1.0"]
  [day8.re-frame/forward-events-fx "0.0.6"]
  [day8.re-frame/http-fx "0.2.3"]
  [district0x/bide "1.6.1"]
  [haslett "0.1.6"]
  [lambdaisland/uri "1.4.54"]
  [mount "0.1.16"]
  [org.clojure/core.match "1.0.0"]
  [re-frame "1.1.2"]
  [reagent "1.0.0"]
  [refactor-nrepl "2.5.0"]
  [hiccups "0.3.0"]]

 :nrepl
 {:port       46000
  :middleware [cider.piggieback/wrap-cljs-repl
               refactor-nrepl.middleware/wrap-refactor]}

 :http
 {:port 3449
  :host "0.0.0.0"}

 :builds
 {:ui {:target     :browser
       :output-dir "services/ui/js"
       :asset-path "/js"
       :js-options {:js-package-dirs ["node_modules"]}
       :modules
       {:main ;; <- becomes /js/main.js
        {:entries [ui.main]}}
       :devtools
       {:http-root "services/ui"
        :http-port 8020}
       :release
       {:compiler-options {:warnings-as-errors true
                           :infer-externs      :auto
                           :optimizations      :advanced}}}}}
