;; shadow-cljs configuration
{:source-paths
 ["src/cljs"]

 :dependencies
 [[reagent "1.0.0"]
  [refactor-nrepl "2.5.0"]
  [cider/cider-nrepl "0.25.5"]
  [cider/piggieback "0.5.2"]]

 :nrepl
 {:middleware [cider.piggieback/wrap-cljs-repl
               refactor-nrepl.middleware/wrap-refactor]}

 :http
 {:port 3449
  :host "0.0.0.0"}

 :builds
 {:ui {:target     :browser
       :output-dir "resources/public/js"
       :asset-path "/js"
       :js-options {:js-package-dirs ["node_modules"]}
       :modules
       {:main ;; <- becomes resources/public/js/main.js
        {:entries [ui.main]}}

       ;; start a development http server on http://localhost:8020
       :devtools
       {:before-load kepler.core/stop
        :after-load  kepler.core/start
        :http-root   "resources/public"
        :http-port   8020}
       }}}
