[{:country/code "CF", :box {:min-lon 14.4219, :min-lat 2.2205, :max-lon 27.4146, :max-lat 11.0073}}
{:country/code "SO", :box {:min-lon 40.9785, :min-lat -1.6424, :max-lon 51.4154, :max-lat 11.9851}}
{:country/code "KW", :box {:min-lon 46.5324, :min-lat 28.5335, :max-lon 48.4328, :max-lat 30.1052}}
{:country/code "CO", :box {:min-lon -81.736, :min-lat -4.2284, :max-lon -66.8703, :max-lat 15.8625}}
{:country/code "GR", :box {:min-lon 19.6432, :min-lat 34.8306, :max-lon 28.2446, :max-lat 41.7487}}
{:country/code "PR", :box {:min-lon -67.9518, :min-lat 17.8826, :max-lon -65.2207, :max-lat 18.516}}
{:country/code "SS", :box {:min-lon 24.1507, :min-lat 3.4878, :max-lon 35.9519, :max-lat 12.2364}}
{:country/code "AO", :box {:min-lon 11.7318, :min-lat -18.0418, :max-lon 24.0821, :max-lat -4.3987}}
{:country/code "AG", :box {:min-lon -62.349, :min-lat 16.9315, :max-lon -61.6587, :max-lat 17.7296}}
{:country/code "ZA", :box {:min-lon 16.4581, :min-lat -46.9744, :max-lon 37.9069, :max-lat -22.1411}}
{:country/code "CG", :box {:min-lon 11.1787, :min-lat -5.0307, :max-lon 18.6498, :max-lat 3.7031}}
{:country/code "KE", :box {:min-lon 33.9096, :min-lat -4.7201, :max-lon 41.9262, :max-lat 5.0612}}
{:country/code "CV", :box {:min-lon -25.3615, :min-lat 14.8018, :max-lon -22.6649, :max-lat 17.204}}
{:country/code "HR", :box {:min-lon 13.5113, :min-lat 42.4225, :max-lon 19.3999, :max-lat 46.5389}}
{:country/code "YE", :box {:min-lon 42.5474, :min-lat 12.1471, :max-lon 54.5054, :max-lat 19.0051}}
{:country/code "TZ", :box {:min-lon 29.5997, :min-lat -11.7457, :max-lon 40.4451, :max-lat -0.9858}}
{:country/code "BA", :box {:min-lon 15.7149, :min-lat 42.5611, :max-lon 19.6221, :max-lat 45.2757}}
{:country/code "VI", :box {:min-lon -65.0492, :min-lat 18.274, :max-lon -64.6606, :max-lat 18.4127}}
{:country/code "BQ", :box {:min-lon -59.646, :min-lat 13.0508, :max-lon -59.368, :max-lat 13.3349}}
{:country/code "AW", :box {:min-lon -70.0635, :min-lat 12.4124, :max-lon -69.8654, :max-lat 12.624}}
{:country/code "SY", :box {:min-lon 35.7326, :min-lat 32.3125, :max-lon 42.3847, :max-lat 37.284}}
{:country/code "GQ", :box {:min-lon 5.6164, :min-lat -1.4677, :max-lon 11.3374, :max-lat 3.7888}}
{:country/code "FK", :box {:min-lon -61.4605, :min-lat -52.4357, :max-lon -57.7355, :max-lat -51.0112}}
{:country/code "LK", :box {:min-lon 79.6501, :min-lat 5.9185, :max-lon 81.8788, :max-lat 9.836}}
{:country/code "GM", :box {:min-lon -16.8284, :min-lat 13.0724, :max-lon -13.8119, :max-lat 13.8225}}
{:country/code "MT", :box {:min-lon 14.1829, :min-lat 35.8057, :max-lon 14.5765, :max-lat 36.0824}}
{:country/code "NZ", :box {:min-lon 165.8682, :min-lat -52.607, :max-lon 183.846, :max-lat -29.2386}}
{:country/code "GH", :box {:min-lon -3.2753, :min-lat 4.7162, :max-lon 1.1977, :max-lat 11.1773}}
{:country/code "LC", :box {:min-lon -61.0788, :min-lat 13.7072, :max-lon -60.8731, :max-lat 14.1096}}
{:country/code "WS", :box {:min-lon -172.804, :min-lat -14.0687, :max-lon -171.4177, :max-lat -13.4398}}
{:country/code "CD", :box {:min-lon 12.226, :min-lat -13.4551, :max-lon 31.3057, :max-lat 5.3752}}
{:country/code "NE", :box {:min-lon 0.1529, :min-lat 11.6958, :max-lon 15.963, :max-lat 23.5173}}
{:country/code "NG", :box {:min-lon 2.6783, :min-lat 4.3054, :max-lon 14.6801, :max-lat 13.892}}
{:country/code "BM", :box {:min-lon -64.8865, :min-lat 32.2469, :max-lon -64.6473, :max-lat 32.3904}}
{:country/code "ET", :box {:min-lon 32.9673, :min-lat 3.405, :max-lon 47.9792, :max-lat 14.8795}}
{:country/code "TC", :box {:min-lon -72.4832, :min-lat 21.1771, :max-lon -71.0821, :max-lat 21.9626}}
{:country/code "RO", :box {:min-lon 20.2628, :min-lat 43.6178, :max-lon 29.6804, :max-lat 48.2517}}
{:country/code "GA", :box {:min-lon 8.699, :min-lat -3.9907, :max-lon 14.5023, :max-lat 2.3156}}
{:country/code "ID", :box {:min-lon 95.2239, :min-lat -10.9366, :max-lon 141.007, :max-lat 7.3529}}
{:country/code "VC", :box {:min-lon -61.461, :min-lat 12.579, :max-lon -61.114, :max-lat 13.3835}}
{:country/code "AR", :box {:min-lon -73.5823, :min-lat -55.0517, :max-lon -53.65, :max-lat -21.797}}
{:country/code "MR", :box {:min-lon -17.0665, :min-lat 14.7172, :max-lon -4.8277, :max-lat 27.2939}}
{:country/code "CN", :box {:min-lon 73.5577, :min-lat 18.207, :max-lon 134.7715, :max-lat 53.5608}}
{:country/code "SN", :box {:min-lon -17.5054, :min-lat 12.3073, :max-lon -11.3559, :max-lat 16.6916}}
{:country/code "QA", :box {:min-lon 50.7492, :min-lat 24.4646, :max-lon 51.6408, :max-lat 26.162}}
{:country/code "KN", :box {:min-lon -62.8638, :min-lat 17.0935, :max-lon -62.5393, :max-lat 17.4179}}
{:country/code "KP", :box {:min-lon 124.6096, :min-lat 37.6029, :max-lon 130.6743, :max-lat 43.006}}
{:country/code "TR", :box {:min-lon 25.6652, :min-lat 35.8164, :max-lon 44.8176, :max-lat 42.1032}}
{:country/code "BD", :box {:min-lon 88.0106, :min-lat 20.7569, :max-lon 92.6737, :max-lat 26.6344}}
{:country/code "ME", :box {:min-lon 18.4455, :min-lat 41.8449, :max-lon 20.3743, :max-lat 43.575}}
{:country/code "VE", :box {:min-lon -73.3869, :min-lat 0.6636, :max-lon -59.8056, :max-lat 12.5287}}
{:country/code "MS", :box {:min-lon -62.2412, :min-lat 16.6748, :max-lon -62.1445, :max-lat 16.8239}}
{:country/code "BL", :box {:min-lon -62.9511, :min-lat 17.8708, :max-lon -62.7889, :max-lat 17.9744}}
{:country/code "DK", :box {:min-lon 8.0753, :min-lat 54.5595, :max-lon 15.1571, :max-lat 57.7509}}
{:country/code "SG", :box {:min-lon 103.6063, :min-lat 1.1661, :max-lon 104.0859, :max-lat 1.4708}}
{:country/code "TJ", :box {:min-lon 67.3923, :min-lat 36.6721, :max-lon 75.1338, :max-lat 41.0426}}
{:country/code "BH", :box {:min-lon 50.2393, :min-lat 25.5791, :max-lon 50.8212, :max-lat 26.3302}}
{:country/code "BY", :box {:min-lon 23.18, :min-lat 51.263, :max-lon 32.7661, :max-lat 56.1719}}
{:country/code "FR", :box {:min-lon -4.7768, :min-lat 41.3663, :max-lon 9.5598, :max-lat 51.0888}}
{:country/code "AZ", :box {:min-lon 44.761, :min-lat 38.354, :max-lon 50.6141, :max-lat 41.9056}}
{:country/code "CR", :box {:min-lon -85.9278, :min-lat 8.0344, :max-lon -82.5631, :max-lat 11.2168}}
{:country/code "FJ", :box {:min-lon 174.594, :min-lat -21.7026, :max-lon 180, :max-lat -12.4753}}
{:country/code "GP", :box {:min-lon -61.8098, :min-lat 15.8321, :max-lon -61.0004, :max-lat 16.5145}}
{:country/code "CM", :box {:min-lon 8.5349, :min-lat 1.6532, :max-lon 16.1908, :max-lat 12.8708}}
{:country/code "DJ", :box {:min-lon 41.7711, :min-lat 10.9126, :max-lon 43.4174, :max-lat 12.7121}}
{:country/code "JO", :box {:min-lon 34.9391, :min-lat 29.19, :max-lon 39.292, :max-lat 33.369}}
{:country/code "CY", :box {:min-lon 32.2681, :min-lat 34.5644, :max-lon 34.5822, :max-lat 35.695}}
{:country/code "FO", :box {:min-lon -7.642, :min-lat 61.3949, :max-lon -6.3996, :max-lat 62.4007}}
{:country/code "RU", :box {:min-lon -180, :min-lat 41.2, :max-lon 180, :max-lat 81.85}}
{:country/code "BW", :box {:min-lon 19.9995, :min-lat -26.9072, :max-lon 29.3608, :max-lat -17.7808}}
{:country/code "NP", :box {:min-lon 80.0517, :min-lat 26.3551, :max-lon 88.1904, :max-lat 30.4311}}
{:country/code "LT", :box {:min-lon 20.9543, :min-lat 53.8991, :max-lon 26.8377, :max-lat 56.4466}}
{:country/code "CC", :box {:min-lon 96.8169, :min-lat -12.209, :max-lon 96.9295, :max-lat -11.8225}}
{:country/code "IR", :box {:min-lon 44.0472, :min-lat 25.0594, :max-lon 63.3196, :max-lat 39.7659}}
{:country/code "ER", :box {:min-lon 36.4236, :min-lat 12.36, :max-lon 43.1177, :max-lat 18.0048}}
{:country/code "MA", :box {:min-lon -17.104, :min-lat 20.7742, :max-lon -0.9974, :max-lat 35.8985}}
{:country/code "BE", :box {:min-lon 2.5443, :min-lat 49.4979, :max-lon 6.4082, :max-lat 51.5035}}
{:country/code "AL", :box {:min-lon 19.2807, :min-lat 39.6453, :max-lon 21.0567, :max-lat 42.657}}
{:country/code "RW", :box {:min-lon 28.8588, :min-lat -2.8269, :max-lon 30.8878, :max-lat -1.0587}}
{:country/code "UK", :box {:min-lon -10.475, :min-lat 49.1635, :max-lon 1.7625, :max-lat 60.8444}}
{:country/code "CU", :box {:min-lon -84.9473, :min-lat 19.8289, :max-lon -74.1329, :max-lat 23.2656}}
{:country/code "BZ", :box {:min-lon -89.2242, :min-lat 15.8927, :max-lon -87.4912, :max-lat 18.4973}}
{:country/code "KZ", :box {:min-lon 46.4919, :min-lat 40.5517, :max-lon 87.3127, :max-lat 55.4318}}
{:country/code "UZ", :box {:min-lon 55.9981, :min-lat 37.1772, :max-lon 73.1323, :max-lat 45.5711}}
{:country/code "SR", :box {:min-lon -58.0677, :min-lat 1.8335, :max-lon -53.9864, :max-lat 6.0116}}
{:country/code "PL", :box {:min-lon 14.123, :min-lat 49.0029, :max-lon 24.1487, :max-lat 54.8342}}
{:country/code "PT", :box {:min-lon -31.2587, :min-lat 32.6352, :max-lon -6.1913, :max-lat 42.1388}}
{:country/code "MG", :box {:min-lon 43.2229, :min-lat -25.5986, :max-lon 50.5039, :max-lat -11.9436}}
{:country/code "MV", :box {:min-lon 72.6387, :min-lat -0.7037, :max-lon 73.7189, :max-lat 7.0209}}
{:country/code "HK", :box {:min-lon 113.839, :min-lat 22.156, :max-lon 114.439, :max-lat 22.5621}}
{:country/code "KY", :box {:min-lon -81.421, :min-lat 19.2637, :max-lon -79.7227, :max-lat 19.7568}}
{:country/code "OM", :box {:min-lon 52.0007, :min-lat 16.651, :max-lon 59.839, :max-lat 26.3726}}
{:country/code "LB", :box {:min-lon 35.1026, :min-lat 33.055, :max-lon 36.6218, :max-lat 34.6914}}
{:country/code "SB", :box {:min-lon 155.5122, :min-lat -12.3083, :max-lon 168.8472, :max-lat -6.5886}}
{:country/code "BF", :box {:min-lon -5.5091, :min-lat 9.4096, :max-lon 2.4054, :max-lat 15.0808}}
{:country/code "MQ", :box {:min-lon -61.229, :min-lat 14.3887, :max-lon -60.8096, :max-lat 14.8787}}
{:country/code "KH", :box {:min-lon 102.3356, :min-lat 9.9136, :max-lon 107.63, :max-lat 14.688}}
{:country/code "TH", :box {:min-lon 97.3637, :min-lat 5.616, :max-lon 105.6339, :max-lat 20.4628}}
{:country/code "SE", :box {:min-lon 11.1069, :min-lat 55.34, :max-lon 24.1606, :max-lat 69.0564}}
{:country/code "BT", :box {:min-lon 88.751, :min-lat 26.6978, :max-lon 92.1247, :max-lat 28.2215}}
{:country/code "PS", :box {:min-lon 34.229, :min-lat 29.4971, :max-lon 35.9351, :max-lat 33.4341}}
{:country/code "LY", :box {:min-lon 9.2865, :min-lat 19.4343, :max-lon 25.1026, :max-lat 33.1364}}
{:country/code "PH", :box {:min-lon 116.9444, :min-lat 4.6683, :max-lon 126.5991, :max-lat 20.489}}
{:country/code "RS", :box {:min-lon 18.8287, :min-lat 42.2451, :max-lon 22.9859, :max-lat 46.1873}}
{:country/code "IT", :box {:min-lon 6.6254, :min-lat 35.8078, :max-lon 18.5176, :max-lat 47.0925}}
{:country/code "IQ", :box {:min-lon 38.7968, :min-lat 28.987, :max-lon 48.5686, :max-lat 37.378}}
{:country/code "KM", :box {:min-lon 43.228, :min-lat -12.421, :max-lon 44.5354, :max-lat -11.3656}}
{:country/code "PM", :box {:min-lon -56.4061, :min-lat 46.7506, :max-lon -56.1264, :max-lat 47.145}}
{:country/code "LA", :box {:min-lon 100.0973, :min-lat 13.9155, :max-lon 107.6576, :max-lat 22.4915}}
{:country/code "NO", :box {:min-lon 4.6436, :min-lat 57.981, :max-lon 31.0606, :max-lat 71.1714}}
{:country/code "VG", :box {:min-lon -64.8502, :min-lat 18.3062, :max-lon -64.2704, :max-lat 18.7496}}
{:country/code "BG", :box {:min-lon 22.3569, :min-lat 41.2418, :max-lon 28.6029, :max-lat 44.2162}}
{:country/code "ES", :box {:min-lon -18.1611, :min-lat 27.6375, :max-lon 4.3084, :max-lat 43.7703}}
{:country/code "GW", :box {:min-lon -16.6689, :min-lat 10.9276, :max-lon -13.6634, :max-lat 12.6794}}
{:country/code "MX", :box {:min-lon -118.366, :min-lat 14.5347, :max-lon -86.7275, :max-lat 32.7182}}
{:country/code "GN", :box {:min-lon -15.0738, :min-lat 7.2026, :max-lon -7.6411, :max-lat 12.6762}}
{:country/code "MN", :box {:min-lon 87.75, :min-lat 41.5677, :max-lon 119.9367, :max-lat 52.1495}}
{:country/code "PY", :box {:min-lon -62.6465, :min-lat -27.6057, :max-lon -54.2586, :max-lat -19.2914}}
{:country/code "MD", :box {:min-lon 26.6598, :min-lat 45.4738, :max-lon 30.1724, :max-lat 48.4833}}
{:country/code "SL", :box {:min-lon -13.3011, :min-lat 6.9194, :max-lon -10.2822, :max-lat 9.996}}
{:country/code "CZ", :box {:min-lon 12.0917, :min-lat 48.5534, :max-lon 18.859, :max-lat 51.0548}}
{:country/code "AM", :box {:min-lon 43.4543, :min-lat 38.8341, :max-lon 46.5923, :max-lat 41.3007}}
{:country/code "VN", :box {:min-lon 102.1452, :min-lat 8.5633, :max-lon 109.4587, :max-lat 23.3927}}
{:country/code "GY", :box {:min-lon -61.3967, :min-lat 1.1858, :max-lon -56.4818, :max-lat 8.4918}}
{:country/code "AU", :box {:min-lon 112.9072, :min-lat -43.6178, :max-lon 153.6242, :max-lat -10.7097}}
{:country/code "MM", :box {:min-lon 92.175, :min-lat 9.7969, :max-lon 101.1739, :max-lat 28.5295}}
{:country/code "US", :box {:min-lon -178.1945, :min-lat 18.9676, :max-lon -66.9871, :max-lat 71.3189}}
{:country/code "KR", :box {:min-lon 125.3851, :min-lat 33.1949, :max-lon 130.9171, :max-lat 38.6122}}
{:country/code "MY", :box {:min-lon 99.6412, :min-lat 0.855, :max-lon 119.2695, :max-lat 7.3634}}
{:country/code "LU", :box {:min-lon 5.7086, :min-lat 49.4387, :max-lon 6.5023, :max-lat 50.1732}}
{:country/code "TN", :box {:min-lon 7.5302, :min-lat 30.2368, :max-lon 11.5983, :max-lat 37.346}}
{:country/code "BB", :box {:min-lon -59.6507, :min-lat 13.0446, :max-lon -59.4199, :max-lat 13.3349}}
{:country/code "ML", :box {:min-lon -12.2389, :min-lat 10.1614, :max-lon 4.2443, :max-lat 25}}
{:country/code "SD", :box {:min-lon 21.8534, :min-lat 9.4823, :max-lon 38.5826, :max-lat 22.2251}}
{:country/code "TM", :box {:min-lon 52.4377, :min-lat 35.1475, :max-lon 66.6458, :max-lat 42.7809}}
{:country/code "IN", :box {:min-lon 68.2696, :min-lat 6.813, :max-lon 97.4152, :max-lat 37.0524}}
{:country/code "NI", :box {:min-lon -87.6903, :min-lat 10.7084, :max-lon -82.7383, :max-lat 15.0151}}
{:country/code "NA", :box {:min-lon 11.7349, :min-lat -28.9694, :max-lon 25.1577, :max-lat -16.9599}}
{:country/code "SA", :box {:min-lon 34.5735, :min-lat 16.361, :max-lon 55.6666, :max-lat 32.1455}}
{:country/code "UY", :box {:min-lon -58.4394, :min-lat -34.9699, :max-lon -53.1108, :max-lat -30.0969}}
{:country/code "CH", :box {:min-lon 5.9645, :min-lat 45.8179, :max-lon 10.4922, :max-lat 47.8046}}
{:country/code "TT", :box {:min-lon -61.9203, :min-lat 10.0369, :max-lon -60.5222, :max-lat 11.3596}}
{:country/code "SH", :box {:min-lon -14.4211, :min-lat -40.3713, :max-lon -5.6316, :max-lat -7.8892}}
{:country/code "TL", :box {:min-lon 123.3143, :min-lat -10.3718, :max-lon 127.3032, :max-lat -8.135}}
{:country/code "MK", :box {:min-lon 20.4442, :min-lat 40.8494, :max-lon 23.0096, :max-lat 42.3691}}
{:country/code "ZM", :box {:min-lon 21.9997, :min-lat -18.0795, :max-lon 33.7015, :max-lat -8.2244}}
{:country/code "UA", :box {:min-lon 22.1398, :min-lat 44.3881, :max-lon 40.2185, :max-lat 52.3758}}
{:country/code "AF", :box {:min-lon 60.4868, :min-lat 29.3866, :max-lon 74.8626, :max-lat 38.4737}}
{:country/code "IL", :box {:min-lon 34.229, :min-lat 29.4971, :max-lon 35.9351, :max-lat 33.4341}}
{:country/code "MW", :box {:min-lon 32.6715, :min-lat -17.1272, :max-lon 35.915, :max-lat -9.3638}}
{:country/code "PA", :box {:min-lon -83.0463, :min-lat 7.2043, :max-lon -77.1868, :max-lat 9.631}}
{:country/code "SV", :box {:min-lon -90.1158, :min-lat 13.1532, :max-lon -87.6904, :max-lat 14.4475}}
{:country/code "GL", :box {:min-lon -72.8497, :min-lat 59.7735, :max-lon -11.3124, :max-lat 83.6173}}
{:country/code "SI", :box {:min-lon 13.3795, :min-lat 45.4215, :max-lon 16.6008, :max-lat 46.8767}}
{:country/code "GD", :box {:min-lon -61.8024, :min-lat 11.9855, :max-lon -61.3781, :max-lat 12.5403}}
{:country/code "NL", :box {:min-lon 3.3616, :min-lat 50.7252, :max-lon 7.227, :max-lat 53.5545}}
{:country/code "BO", :box {:min-lon -69.6189, :min-lat -22.9011, :max-lon -57.5211, :max-lat -9.6792}}
{:country/code "DE", :box {:min-lon 5.8661, :min-lat 47.2698, :max-lon 15.0388, :max-lat 55.0573}}
{:country/code "EE", :box {:min-lon 21.8058, :min-lat 57.5102, :max-lon 28.2083, :max-lat 59.6611}}
{:country/code "CL", :box {:min-lon -109.4537, :min-lat -55.9148, :max-lon -66.4267, :max-lat -17.5066}}
{:country/code "GT", :box {:min-lon -92.2224, :min-lat 13.7383, :max-lon -88.226, :max-lat 17.8187}}
{:country/code "AS", :box {:min-lon -171.09, :min-lat -14.5489, :max-lon -168.1433, :max-lat -11.0478}}
{:country/code "BI", :box {:min-lon 29.0017, :min-lat -4.47, :max-lon 30.8502, :max-lat -2.3093}}
{:country/code "PK", :box {:min-lon 60.8994, :min-lat 23.6813, :max-lon 77.6957, :max-lat 37.095}}
{:country/code "IS", :box {:min-lon -24.5297, :min-lat 63.3778, :max-lon -13.498, :max-lat 66.536}}
{:country/code "SK", :box {:min-lon 16.8354, :min-lat 47.7315, :max-lon 22.5673, :max-lat 49.6134}}
{:country/code "BN", :box {:min-lon 114.1285, :min-lat 4.022, :max-lon 115.3706, :max-lat 5.0424}}
{:country/code "DZ", :box {:min-lon -8.6739, :min-lat 18.96, :max-lon 11.9889, :max-lat 37.0901}}
{:country/code "KG", :box {:min-lon 69.2797, :min-lat 39.1751, :max-lon 80.2809, :max-lat 43.2382}}
{:country/code "LI", :box {:min-lon 9.4726, :min-lat 47.0474, :max-lon 9.6375, :max-lat 47.2717}}
{:country/code "VA", :box {:min-lon 12.4456, :min-lat 41.9002, :max-lon 12.4584, :max-lat 41.9076}}
{:country/code "FI", :box {:min-lon 19.4756, :min-lat 59.8175, :max-lon 31.5886, :max-lat 70.0921}}
{:country/code "JM", :box {:min-lon -78.3747, :min-lat 17.7032, :max-lon -76.188, :max-lat 18.5251}}
{:country/code "BS", :box {:min-lon -79.2803, :min-lat 20.9124, :max-lon -72.7509, :max-lat 27.0129}}
{:country/code "JP", :box {:min-lon 123.6612, :min-lat 24.2551, :max-lon 145.8175, :max-lat 45.5228}}
{:country/code "SM", :box {:min-lon 12.4007, :min-lat 43.8947, :max-lon 12.5141, :max-lat 43.9955}}
{:country/code "TG", :box {:min-lon -0.1661, :min-lat 6.1025, :max-lon 1.7824, :max-lat 11.135}}
{:country/code "ZW", :box {:min-lon 25.2372, :min-lat -22.4203, :max-lon 33.0563, :max-lat -15.6088}}
{:country/code "BJ", :box {:min-lon 0.7746, :min-lat 6.2351, :max-lon 3.8517, :max-lat 12.4184}}
{:country/code "AT", :box {:min-lon 9.5023, :min-lat 46.372, :max-lon 17.1624, :max-lat 49.0202}}
{:country/code "IO", :box {:min-lon 71.2374, :min-lat -7.4445, :max-lon 72.4946, :max-lat -5.2359}}
{:country/code "LV", :box {:min-lon 20.969, :min-lat 55.6749, :max-lon 28.2429, :max-lat 58.0829}}
{:country/code "BR", :box {:min-lon -74.0046, :min-lat -33.7407, :max-lon -34.7929, :max-lat 5.2457}}
{:country/code "HU", :box {:min-lon 16.1327, :min-lat 45.7405, :max-lon 22.8908, :max-lat 48.5841}}
{:country/code "GU", :box {:min-lon 144.6181, :min-lat 13.2338, :max-lon 144.9569, :max-lat 13.6544}}
{:country/code "DO", :box {:min-lon -71.9815, :min-lat 17.5412, :max-lon -68.3251, :max-lat 19.9313}}
{:country/code "CW", :box {:min-lon -69.1626, :min-lat 11.9784, :max-lon -68.6393, :max-lat 12.3929}}
{:country/code "EC", :box {:min-lon -91.6563, :min-lat -5.0158, :max-lon -75.2022, :max-lat 1.4696}}
{:country/code "TD", :box {:min-lon 13.4735, :min-lat 7.4411, :max-lon 24.0017, :max-lat 23.4504}}
{:country/code "DM", :box {:min-lon -61.4801, :min-lat 15.2071, :max-lon -61.2404, :max-lat 15.6401}}
{:country/code "GE", :box {:min-lon 40.012, :min-lat 41.0647, :max-lon 46.7214, :max-lat 43.5829}}
{:country/code "IE", :box {:min-lon -10.563, :min-lat 51.4204, :max-lon -5.4301, :max-lat 55.384}}
{:country/code "PE", :box {:min-lon -81.3891, :min-lat -18.3875, :max-lon -68.6739, :max-lat -0.0453}}
{:country/code "MZ", :box {:min-lon 30.2145, :min-lat -26.8603, :max-lon 40.848, :max-lat -10.469}}
{:country/code "AD", :box {:min-lon 1.4102, :min-lat 42.427, :max-lon 1.7868, :max-lat 42.6549}}
{:country/code "EG", :box {:min-lon 24.6981, :min-lat 21.9992, :max-lon 35.7679, :max-lat 31.6679}}
{:country/code "HN", :box {:min-lon -89.3498, :min-lat 12.9845, :max-lon -83.1588, :max-lat 16.5171}}
{:country/code "ST", :box {:min-lon 6.4615, :min-lat -0.014, :max-lon 7.4626, :max-lat 1.6943}}
{:country/code "AI", :box {:min-lon -63.4295, :min-lat 18.1543, :max-lon -62.9258, :max-lat 18.5954}}
{:country/code "CA", :box {:min-lon -141.0021, :min-lat 41.9972, :max-lon -52.6537, :max-lat 83.1161}}
{:country/code "SC", :box {:min-lon 46.2034, :min-lat -10.2272, :max-lon 56.2947, :max-lat -3.7126}}
{:country/code "MP", :box {:min-lon 144.8855, :min-lat 14.1104, :max-lon 146.0827, :max-lat 20.5551}}
{:country/code "GF", :box {:min-lon -54.5375, :min-lat 2.1289, :max-lon -51.6059, :max-lat 5.7454}}
{:country/code "HT", :box {:min-lon -74.4892, :min-lat 18.0259, :max-lon -71.6391, :max-lat 20.0885}}
]