{:enums
 {:Parser {:description "Parser types."
           :values [:CONTINUOUS_TREE :DISCRETE_TREE :BSSVS_LOG :CONTINUOUS_TREE_DISTRIBUTION]}
  :ParserStatus {:values [:QUEUED :RUNNING :SUCCEEDED :ERROR]}}

 :input-objects
 {:File {:fields {:name {:type String}
                  :extension {:type String}}}}

 :objects
 {:ParserResult {:description "A result of a parser."
                 :fields {:id {:type (non-null ID)}
                          :status {:type (non-null :ParserStatus)}}}}

 :queries
 {:get_parser_execution {:type :ParserResult
                         :description "Returns a Result with current status of query execution."
                         :args {:id {:type (non-null ID)}}
                         :resolve :query/get_parser_execution}}

 :mutations
 {:get_upload_urls {:type (list String)
                    :description "Returns one-time POST urls"
                    :args {:files {:type (list :File)}}
                    :resolve :mutation/get_upload_urls}

  :start_parser_execution {:type :ParserResult
                           :description "Starts executing a parser of a given type. Returns a Result with id."
                           :args {:parser {:type (non-null :Parser)}}
                           :resolve :mutation/start_parser_execution}}

 }
