/**********************/
/* General components */
/**********************/

/* Panel */
.panel {
	background-color: white;
	border-radius: 10px;
	overflow: hidden;
}

/* Spread logo */
.spread-logo {
	position: relative;
	display: flex;
	justify-content: center;
}

.spread-logo .text {
    font-size: 25px;
	font-weight: bold;
	letter-spacing: 3.9px;
	color: #3A3668;
	text-transform: uppercase;
    margin-left: 5px;
}

.spread-logo .logo-img {
    display: inline-block;
	position: relative;
    width: 47px;
	height: 35px;
}

.spread-logo .logo-img .hex {
	width: 16px;
	height: 18px;
	transform: matrix(0, 1, -1, 0, 0, 0);    
	opacity: 1;
	position: absolute;
}
.spread-logo .logo-img .hex1 {
	top: 0px;
	left: 10px;	
	background: #3A3668 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #39376529;
}

.spread-logo .logo-img .hex2 {
	top: 0px;
	left: 30px;	
	background: #EEBE53 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #EEBE53;
}

.spread-logo .logo-img .hex3 {
	top: 17px;
	left: 1px;
	background: #3A3668 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #39376529;
}

.spread-logo .logo-img .hex4 {
	top: 17px;
	left: 20px;
	background: #3A3668 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #39376529;
}

/********************/
/* Collapsible tabs */
/********************/

.tab > .title {
    font-weight: bold;
    display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #E2E2EA;
    padding: 15px 5px 15px 5px;
	color: #3A3668;
	cursor: pointer;
}

.tab > .title > .text {
	display: flex;
	align-items: center;
}
.tab > .title img {
	margin-right: 10px;
}

.tab-body {
    overflow: hidden;
	padding: 17px;
	border-bottom: 1px solid #E2E2EA;
}

.tab-body.open {
	height: 100%;
}

.tab-body.collapsed {
	height: 0;
	padding: 0;
}

.tab .badge {
	border: 1px solid;
	padding: 3px;
	border-radius: 5px;
	font-size: 10px;
	background-color: #FBFCFE;
}

/* Buttons  */

.button {
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
}

.button img {
	margin-right: 4px;
}

.button.primary {
	color: white;
	background: #3428CA;	
}

.button.secondary {
	border: 1px solid #3428CA;
    color: #3428CA; 
}

.button.golden {
	color: #3A3668;
	background: #EEBE53;    
}

.button.danger {
	color: #B20707;
	background: white;
	border: 1px solid #B20707;
}

.button.disabled {
	background: #eee;    
	color: #333;
	border-color: #333;
	opacity: 0.4;
}

/* Labeled fields */

.labeled-field {
	position: relative;
}

.labeled-field .label {
	position:absolute;
	top: -10px;
    left: 10px;
	font-size: 10px;
	background-color: white;
	color: #908DA9;
}
.labeled-field .text {
	display: inline-block;
	padding: 8px;
	border-radius: 10px;
	background-color: #FBFCFE;
	border: 1px solid #ECEFF7;
	width: 300px;
	height: 38px;
}
