/**********************/
/* General components */
/**********************/

/* Panel */
.panel {
	background-color: white;
	border-radius: 10px;
	overflow: hidden;
}

/* Spread logo */
.spread-logo {
	position: relative;
	display: flex;
	justify-content: center;
}

.spread-logo .text {
    font-size: 25px;
	font-weight: bold;
	letter-spacing: 3.9px;
	color: #3A3668;
	text-transform: uppercase;
    margin-left: 5px;
}

.spread-logo .logo-img {
    display: inline-block;
	position: relative;
    width: 47px;
	height: 35px;
}

/********************/
/* Collapsible tabs */
/********************/
.collapsible-tabs {
	display: flex;
	flex-direction: column;
	min-height: 0px;    
}

.collapsible-tabs .tab {
	min-height: 50px;
    display: flex;
    flex-direction: column;    
}

.collapsible-tabs .tab > .title {
    font-weight: bold;
    display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #E2E2EA;
    padding: 10px 5px 10px 5px;
	color: #3A3668;
	cursor: pointer;    
}

.collapsible-tabs .tab > .title > .text {
	display: flex;
	align-items: center;
}

.collapsible-tabs .tab > .title > .text img {
	margin-right: 10px;
}

.collapsible-tabs .tab > .title img.arrow.open {
    transform: rotateZ(180deg);
}

.collapsible-tabs .tab-body {
	min-height: 0px;
    padding: 10px;
	overflow: hidden;
	border-bottom: 1px solid #E2E2EA;
}

.collapsible-tabs .tab-body.open {    
	min-height: 0px;
	overflow: auto;    
}

.collapsible-tabs .tab-body.collapsed {
    
    display: none;
}

.collapsible-tabs .tab .badge {
	border: 1px solid;
	padding: 3px;
	border-radius: 5px;
	font-size: 10px;
	background-color: #FBFCFE;
}

.collapsible-tabs .tab .badge.new {
	color: #3428CA;
}

.collapsible-tabs .tab .badge.error {
	color: #B20707;
}

/* Buttons  */

.button {
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
}

.button img {
	margin-right: 4px;
}

.button.primary {
	color: white;
	background: #3428CA;	
}

.button.primary:hover {
	color: #3A3668;
	background: #EEBE53;    
}

.button.secondary {
	border: 1px solid #3428CA;
    color: #3428CA; 
}

.button.secondary:hover {
	color: white;
	background: #3428CA;	
}

.button.golden {
	color: #3A3668;
	background: #EEBE53;    
}

.button.golden:hover {
	color: white;
	background: #3428CA;	
}

.button.danger {
	color: #B20707;
	background: white;
	border: 1px solid #B20707;
}

.button.danger:hover {
	color: white;
	background: #B20707;
	border: 1px solid #B20707;
}

.button.disabled {
	background: #eee;    
	color: #333;
	border-color: #333;
	opacity: 0.4;
}

/* Labeled fields */

.labeled-field {
	position: relative;
}

.labeled-field .label {
	position:absolute;
	top: -10px;
    left: 10px;
	font-size: 10px;
	background-color: white;
	color: #908DA9;
}
.labeled-field .text {
	display: inline-block;
	padding: 8px;
	border-radius: 10px;
	background-color: #FBFCFE;
	border: 1px solid #ECEFF7;
	width: 300px;
	height: 38px;
}

/* Tabs */

.tabs {    
	border: 1px solid #ECEFF8;
	border-radius: 10px;
	margin-top: 10px;
}

.tabs .tab-wrapper {
	color: #3A3668;
	display: inline-block;
}

.tabs .tab-wrapper:hover {
	color: #EEBE53;
	opacity: 0.4;
}

.tabs .tab-wrapper.active {
	color: #EEBE53;
	background-color: #FFFDF8;
	border: 1px solid #EEBE53;
	border-radius: 10px;
}

.tabs .tab {	
    padding: 10px 50px 10px 50px;    
	display: flex;
	flex-direction: column;
	align-items: center;    
}

.tabs .tab .sub-label {
	font-size: 10px;
}

/* Search bar */

.search-bar {
	position:relative;
}

.search-bar input {
	height: 40px;
	padding-left: 10px;
	border-radius: 5px;
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
	border-bottom: 1px solid #908DA9;
	width: 100%;
}

.search-bar i {
	position: absolute;
	right: 13px;
	top: 6px;
    font-size: 24px;
	color: #908DA9;
	cursor: pointer;
}

/* Loading  */

.loading-spinner {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
