body {
  margin: 0;
  background: #ECEFF8
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header header header"
      "left-pane main main main"
      "left-pane main main main";
}

.app-header {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #DEDEE7;
  grid-area: header;
  opacity: 1;
}

.main-menu {
  align-items: center;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 20px;
  border: 1px solid #E2E2EA;
  display: flex;
  flex-direction: column;
  grid-area: left-pane;
  opacity: 1;
}

.main {
  grid-area: main;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 30px 60px #313B5833;
  border-radius: 20px;
  opacity: 1;
}

.home {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.app-header > .header > .user-login {
  color: #3A3668;
  font: normal normal medium 16px/19px Roboto;
  letter-spacing: 0px;
  opacity: 1;
  text-align: right;
}

.app-header > .header {
  display: flex;
  justify-content: space-between;
}

.icon-label > .icon > #spread {
  height: 45px;
  width: 45px;
}

.icon-label {
  align-content: center;
  align-items: center;
  color: #3A3668;
  display: flex;
  font: normal normal 900 30px/35px Roboto;
  justify-content: center;
  letter-spacing: 3.9px;
  opacity: 1;
  text-transform: uppercase;
}

.run-new-analysis-menu-item {
  display: flex;
  text-align: left;
  font: normal normal medium 16px/19px Roboto;
  letter-spacing: 0px;
  opacity: 1;
}

.completed > div {
  display: flex;
}

.queue > div {
  display: flex;
}

.menu-item {
  border: 1px solid #FFFFFF;
  display: flex;
  flex-direction: column;
}

.menu-item:hover {
  border: 1px solid #EEBE53;
  border-radius: 8 px;
}

.run-new-analysis-menu-item:hover {
  color: #EEBE53;
}

.click-dropdown {
  display: inline-block;
  position: relative;
}

.hover-dropdown {
  display: inline-block;
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  min-width: 160px;
  position: absolute;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  display: block;
  padding: 12px 16px;
  text-decoration: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu */
.dropdown-menu-opened {display:block;}

/* Show the dropdown menu on hover */
.hover-dropdown:hover .dropdown-content {display: block;}

.analysis-button {
  align-content: center;
  align-items: center;
  background: #3428CA 0% 0% no-repeat padding-box;
  border-radius: 8px;
  box-shadow: 0px 10px 30px #3341EA4D;
  color: #ECEFF8;
  display: flex;
  font: normal normal medium 16px/19px Roboto;
  height: 48px;
  justify-content: center;
  letter-spacing: 0px;
  opacity: 1;
  text-align: left;
  width: 244px;
}

.documentation-button {
  align-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 8px;
  border: 1px solid #3428CA;
  color: #3428CA;
  display: flex;
  font: normal normal medium 16px/19px Roboto;
  height: 48px;
  justify-content: center;
  letter-spacing: 0px;
  opacity: 1;
  text-align: center;
  width: 244px;
}

.horizontal-divider {
  color: #313B5833;
  height: 10px;
  width: 324px;
}
