/*****************/
/* General stuff */
/*****************/
:root {
	--header-bg-color: white;
}
html,body,#app,.app-container-grid {
    height: 100%;
	font-family: 'Roboto', sans-serif;
	background-color: #ECEFF8;
}

li {
	list-style: none;
}

.clickable {
	cursor: pointer;
}

/********************************/
/* Application container layout */
/********************************/

/* Header */
.app-header-spacer-1 {
	grid-area: app-header-spacer-1;
	background-color: var(--header-bg-color);
}

.app-header-spacer-2 {
	grid-area: app-header-spacer-2;
	background-color: var(--header-bg-color);
}

/* Header logo */
.app-header-logo {
	grid-area: app-header-logo;
	display: flex;
    align-items: center;
	background-color: var(--header-bg-color);    
}

/* Header menu */
.app-header-menu {
	grid-area: app-header-menu;
	display: flex;
	justify-content: flex-end;
    align-items: center;
	background-color: var(--header-bg-color);
}

/* Sidebar */

.app-sidebar {
	display: grid;
	grid-template-rows: 1fr 120px;
	grid-area: app-sidebar;
	margin-right: 25px;
	padding-top: 10px;
}

.app-sidebar .readable-name {
	font-size: 14px;
	color: #3A3668;
}

.app-sidebar .sub-name {
	font-size: 12px;
	color: #757295;
}

.app-sidebar .run-new {
	margin-left: 20px;
	display: grid;
	grid-row-gap: 10px;
}

.app-sidebar .run-new .label {
	color: #3A3668;
	margin-right: 5px;
}

.app-sidebar .run-new .text {
	color: #757295;    
}

.app-sidebar .queued {
	display: grid;
	grid-row-gap: 10px;
}
.app-sidebar .queued-menu-item {
	display: grid;
	background-color: #FBFCFE;
	padding: 15px;
	border-radius: 10px;
	grid-row-gap: 5px;
	grid-template-columns: 10% 80% 10%;
	grid-template-rows: 20% 20% 60%;
	grid-template-areas:
		"readable-name readable-name menu"
		"sub-name      sub-name      ."
		"play-pause    progress      delete";
}

.app-sidebar .queued-menu-item .progress {
	margin: 4px;
}

.app-sidebar .queued-menu-item .progress .finished {
	font-size: 11px;
	color: #757295;
}

.app-sidebar .completed {
	display: grid;
	grid-row-gap: 10px;    
}

.app-sidebar .completed-menu-item {
	display: grid;
	position: relative;
	background-color: #FBFCFE;
	padding: 15px;
	border-radius: 10px;
	grid-row-gap: 5px;
	grid-template-columns: 80% 10% 10%;
	grid-template-rows: 50% 50%;
	grid-template-areas:
		"readable-name badges   menu"
		"sub-name      sub-name sub-name";        
}

.app-sidebar .menu {
	position: absolute;
	right: 0px;
	top: 25px;
	font-size: 12px;
	background-color: white;
	padding: 5px;
	z-index: 10;
}

.app-sidebar .footer {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #E2E2EA;
}

.app-sidebar .footer .button {
	width: 80%;
}

/* Body */
.app-body {
	grid-area: app-body;
}

.app-container-grid {
	display: grid;
	grid-template-columns : 1fr 300px 70% 1fr;
	grid-template-rows : 100px 80% 1fr;
	grid-row-gap: 25px;
    grid-template-areas :
		"app-header-spacer-1 app-header-logo  app-header-menu app-header-spacer-2"
		".                   app-sidebar      app-body        .";
}

/*********/
/* Pages */
/*********/

/* Home page */

.home-page {
	display: flex;
	flex-direction: column;
    height: 100%;
    justify-content: space-around;
	align-items: center;
	color: #757295;
}

.home-page .main-section {
	border-bottom: 1px solid #E2E2EA;
	height: 250px;
}
.home-page .main-section h2 {
	text-align: center;
	color: #3A3668;
}

.home-page section {
	width: 300px;
}
