.MuiInputLabel-formControl {
	background-color: white;
}

input {
	font-size: 13px !important;
}

.MuiSelect-select {
	font-size: 13px !important;
}

.react-datepicker-wrapper input {
	border-color: #E2E2EA;
	border-radius: 5px;
	border-width: 1px;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}

/* Icons on input file types  */
.MuiInputBase-root button {
	padding: 12px 0px 12px 0px !important;
}

.MuiAvatar-root {
	width: 22px !important;
	height: 22px !important;
}
