/*****************/
/* Switch button */
/*****************/

.switch-button {
	position: relative;
    width: 56px;
	height: 24px;
    cursor: pointer;
	color: white;
	font-size: 11px;
	border-radius: 6px;
}

.switch-button.on{
	background-color: #EEBE53;
}
.switch-button.off{
	background-color: grey;
}
.switch-button span.on {
    position: relative;
	top: 7px;
	left: 9px;
}
.switch-button .block {
	display: inline-block;
    position: absolute;
    top: 3px;
    left: 7px;
    width: 17px;
    height: 17px;
    background-color: white;
    border-radius: 4px;
}

.switch-button .block.block-off {
    left: 7px;
}

.switch-button .block.block-on {
	left: 29px;
}

.switch-button span.off {
    position: relative;
	top: 7px;
	left: 15px;
}

/**********/
/* Slider */
/**********/

.slider {
	display: inline-flex;
	flex-direction: column;
	margin-right: 15px;
    margin-left: 15px;
	width: 22px;
    justify-content: center;    
}

.slider button {
	padding: 1px 6px 1px 6px;
	color: #3A3668;
	background-color: #DEDEE8;
	border-radius: 3px;
}

.slider .outer {
    display: flex;
}

.slider .outer.vertical {
    flex-direction: column;
}

.slider .outer.horizontal{
    flex-direction: row;
}

.slider button{
    width: 20px;
	height: 20px;
}

