html, body, #app{
	padding: 0px;
	margin: 0px;
	height: 100%;
	background-color: white;
	font-family: 'Roboto', sans-serif;
}

button {
	background: #3428CA 0% 0% no-repeat padding-box;
	box-shadow: 0px 10px 30px #3341EA4D;
	border-radius: 8px;
	font: normal normal 500 16px/19px Roboto;	
	letter-spacing: 0px;
	color: #ECEFF8;
	padding: 10px 20px 10px 20px;
	border: unset;
	cursor: pointer;
}
/***********/
/* Top bar */
/***********/

.top-bar{
	grid-area: top-bar;
    border-bottom: 1px solid #DEDEE7
}

.top-bar .text {
	position: absolute;
	top: 33px;
	left: 95px;
	width: 134px;
	height: 35px;
    text-align: left;
	font: normal normal 900 30px/35px Roboto;
	letter-spacing: 3.9px;
	color: #3A3668;
	text-transform: uppercase;
	opacity: 1;	
}

.top-bar > .logo .logo-img {
    display: inline-block;
}
.top-bar > .logo .logo-img .hex {
	width: 16px;
	height: 18px;
	transform: matrix(0, 1, -1, 0, 0, 0);    
	opacity: 1;
	position: absolute;
}
.top-bar > .logo .logo-img .hex1 {
	top: 33px;
	left: 50px;	
	background: #3A3668 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #39376529;
}

.top-bar > .logo .logo-img .hex2 {
	top: 33px;
	left: 69px;	
	background: #EEBE53 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #EEBE53;
}

.top-bar > .logo .logo-img .hex3 {
	top: 50px;
	left: 40px;
	background: #3A3668 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #39376529;
}

.top-bar > .logo .logo-img .hex4 {
	top: 50px;
	left: 59px;
	background: #3A3668 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #39376529;
}


.main-screen {
	height: 100%;    
	display: grid;
	grid-template-columns: 256px auto;
	grid-template-rows: 104px auto;
	grid-template-areas:
		    "top-bar  top-bar           top-bar"
			"side-bar animated-data-map animated-data-map";
            
            
}

/************/
/* Side bar */
/************/
.side-bar {
	grid-area: side-bar;    
    border-right: 1px solid #DEDEE7;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	color: #3A3668;
}

.export-panel {
	text-align: center;
    border-top: 1px solid #E2E2EA;
    padding: 25px 0 25px 0;
} 

.collapsible-tabs > .title {
    font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #E2E2EA;
	border-top: 1px solid #E2E2EA;
	padding: 15px 0 15px 0;
}

.collapsible-tabs > .tabs > .tab > .title {
	display: flex;
	justify-content: space-between;	
    border-bottom: 1px solid #E2E2EA;
	border-top: 1px solid #E2E2EA;
    padding: 15px 15px 15px 15px;
	background-color: #FBFCFE;
	cursor: pointer;
}

.collapsible-tabs .tab-body {
    overflow: hidden;
	padding: 17px;   
}
.collapsible-tabs .tab-body.open {
	height: 100%;
}

.collapsible-tabs .tab-body.collapsed {
	height: 0;
	padding: 0;
}

/*****************/
/* Color chooser */
/*****************/

.colors {
	display: grid;
	grid-template-columns: 22px 22px 22px 22px 22px 22px 22px 22px 22px;
	grid-column-gap: 4px;
	grid-row-gap: 4px;
	margin: 10px;
}

.color {
	cursor: pointer;
	width: 21px;
	height: 22px;
	border-radius: 5px;
	border: 1px solid #E2E2EA;
	text-align: center;    
}
.color i {
	margin-top: 4px;
}

.attribute-color-chooser {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

/*******************/
/* Layers settings */
/*******************/

.layers-settings {
	display: grid;
    grid-template-columns: 70% 30%;
    grid-row-gap: 9px;
	font-size: 14px;
}

/****************/
/* Map settings */
/****************/

.map-settings {
    display:flex;
	justify-content: center;    
}

/********************/
/* Polygon settings */
/********************/
.polygons-settings {
    display:flex;
	align-items: center;
	flex-direction: column;
}

/********************/
/* Labels settings */
/********************/
.labels-settings {
    display:flex;
	align-items: center;
	flex-direction: column;
}

/********************/
/* Circle settings */
/********************/
.circles-settings {
    display:flex;
	align-items: center;
	flex-direction: column;
}

.circles-settings .attribute-color-chooser {
	margin-bottom:12px;
}

/********************/
/* Nodes settings */
/********************/
.nodes-settings {
    display:flex;
	align-items: center;
	flex-direction: column;
}
.nodes-settings .attribute-color-chooser {
	margin-bottom:12px;
}


/************************/
/* Transitions settings */
/************************/

.transitions-settings {
    display: flex;
	flex-direction: column;
	align-items: center;
}

.transitions-settings .attribute-color-chooser {
	margin-bottom:12px;
}

/**********************/
/* Animation settings */
/**********************/

.animation-settings {
	display: grid;
	grid-template-columns: 30% 70%;
    grid-row-gap: 9px;
	font-size: 14px;
}
/*****************/
/* Animated map  */
/*****************/

.animated-data-map {
	grid-area: animated-data-map;
	width: 99%;
	position: relative;
}


.animated-data-map > .map-wrapper {
	height: calc(100% - 204px - 4px); /*substract the animation-controls height*/
}

.map-zoom {
	position: absolute;
	top: 10px;
	left: 0;
	z-index: 10;
}
.zoom-bar-outer {
	position: relative;
	top: 10px;
	left: 10px;
	border-radius: 10px;    
}

.zoom-bar-outer .zoom-bar-back {
	position: absolute;
	top: 0;
	left: 5px;
    width: 43px;
    height: 165px;
	background-color: #757295;
	border-radius: 10px;
	opacity: 0.5;
	z-index: 0;
}

.pop-up {
	position: absolute;
    background-color: white;
	border: 1px solid #DEDEE8;
	padding: 5px;
	max-width: 300px;
	max-height: 200px;
	font-size: 10px;
}

.pop-up label {
	font-weight: bold;
	color: #3A3668;
	margin-right: 3px;
	
}

.possible-objects-popup .selectable-object {
	font-weight: bold;
	color: #3A3668;
	cursor: pointer;
}

/**********************/
/* Animation controls */
/**********************/

.animation-controls {
    width: 100%;
	height: 204px;
	display: flex;
	align-items: center;
}

.animation-controls .inner {
	position: relative;
	background-color: #DEDEE8;
	border-radius: 10px;
	height: 164px;
	width: 100%;
    text-align: center;
    
}

.animation-controls .inner .buttons i{
	font-size: 35px;
	margin: 5px;
	color: #3A3668;
}

.animation-controls .inner .buttons i.zmdi-play{
	font-size: 40px;    
}

.animation-controls .timeline {
	position: relative;
}

.animation-controls .crop-box {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
	position: absolute;
	top: 0;
	border: 5px solid #EEBE53;
	border-radius: 10px;
    height: 103px;    
}

.animation-controls .crop-box i{
	background-color: #EEBE53;
	font-size: 50px;
	display: flex;
    align-items: center;    
}

.animation-controls .speed {
	position: absolute;
	color: #3A3668;
	font-size: 11px;
	top: 20px;
	left: 10px;
}


